<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OracleDataClassGenerator.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IP1" value="10.96.48.220"/>
    <add key="SID1" value="DTKB"/>
    <add key="UserName1" value="dtg_owner"/>
    <add key="Password1" value="dtg_owner"/>
    <add key="IP2" value="10.15.68.15"/>
    <add key="SID2" value="DTKB"/>
    <add key="UserName2" value="dtg_owner"/>
    <add key="Password2" value="dtg_owner"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <OracleDataClassGenerator.Properties.Settings>
      <setting name="Setting1" serializeAs="String">
        <value/>
      </setting>
    </OracleDataClassGenerator.Properties.Settings>
  </userSettings>

</configuration>