<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net40" />
  <package id="MDIWindowManager" version="2.1.0" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="19.11.0" targetFramework="net40" />
  <package id="PagedControl" version="2.2.0" targetFramework="net40" />
  <package id="RibbonWinForms" version="5.0.1.1" targetFramework="net40" />
  <package id="TabControl" version="2.1.2" targetFramework="net40" />
</packages>